@import "tailwindcss";

@theme {
  --color-dark-bg: #121212;
  --color-dark-surface: #1E1E1E;
  --color-dark-accent: #7C3AED;
  --color-dark-border: #333333;
}

@layer base {
  body {
    @apply bg-dark-bg text-white font-sans;
  }
}
